@{
    ViewBag.Title = "Кулинарная книга";
}


<div>
    <p>@Html.ActionLink("Блюда", "Index", "Dishes")</p>
    <p>@Html.ActionLink("Ингредиенты", "Index", "Ingredient")</p>
    <p>@Html.ActionLink("Типы блюд", "Index", "TypeOfDish")</p>
    <p>@Html.ActionLink("Единицы измерения", "Index", "Unit")</p>

</div>


